<div id="<%= dom_id movie %>" class="max-w-xs rounded overflow-hidden shadow-lg">
    <% if movie.image.present? %>
        <%= image_tag movie.image, class: "w-full" %>
    <% else %>
        <%= image_tag("https://via.placeholder.com/320x180") %>
    <% end %>

    <div class="px-4 py-4">
        <div class="font-bold text-xl mb-6"><%= movie.title %></div>
        <%= link_to "Edit Movie", edit_admin_movie_path(movie), class: "bg-amaranth-500 hover:bg-amaranth-700 text-white-50 font-bold py-2 px-4 rounded" %>
        <%= link_to "View Episodes", admin_movie_episodes_path(movie), class: "bg-camelot-500 hover:bg-camelot-700 text-white-50 font-bold py-2 px-4 rounded" %>
    </div>
</div>